/* Work Sense font from Google Font */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Style */
.btn-primary {
    border-radius: 8px;
    color: #fff;
    font-size: 1.1rem;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    cursor: pointer;
    border: 0;

}

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: var(--dark-01, #131313);
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: var(--dark-02, #424242);
}

/* Banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-weight: 400;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Responsive media queries */
    /* Mobile Device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
      /* Medium Device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        flex-direction: column;
    }
    header {
        padding: 20px;
    }
}      